<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="hello" class="xin.yangshuai.spring.beans.Hello" init-method="init2" destroy-method="destroy">
        <property name="name" value="hello"/>
    </bean>

    <bean id="address" class="xin.yangshuai.spring.beans.Address">
        <property name="city" value="BeiJing"></property>
        <property name="street" value="LongZe"></property>
    </bean>

    <bean class="xin.yangshuai.spring.beans.MyBeanPostPrpcessor"></bean>

</beans>